<!-- <mat-form-field>
  <input matInput value="Disco party!" placeholder="Message" #message>
</mat-form-field>

<mat-form-field>
  <input matInput value="Dance" placeholder="Action" #action>
</mat-form-field> -->

<style>
</style>


<mat-grid-list cols="4" rowHeight="2:1">
	<mat-radio-group formControlName="floatLabel">
		<mat-grid-tile *ngFor="let icon of icons">
			<mat-radio-button value="auto">
				<mat-icon>{{icon}}</mat-icon>
			</mat-radio-button>
		</mat-grid-tile>
	</mat-radio-group>
</mat-grid-list>

<div *ngFor="let icon of icons">

</div>


<br>

<button style="margin-top: 100px" mat-button mat-raised-button color="primary" (click)="openNormalSnackBar()">Show normal-bar</button>

<button style="margin-top: 100px; margin-left: 3vw" mat-button mat-raised-button color="accent" (click)="openLoadingSnackBar()">Show loading-bar</button>

<!-- Copyright 2019 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->