html,
body{
  height: 100vh !important;
  width: 100vw !important;
  background: blue !important;
}

.flex-container-row{
  display:flex;
  flex-direction: row;
  align-items: center;
}


.grid-list{
  padding: 20px;
}

.snackbar-message{
  padding-left: 10px;
}

.message-input{

  padding: 20px;
}

.toggle-buttons{
  width: 100%;
  margin: 10px 0 0 0;
}

main{
  max-width: 600px;
  min-width: 320px;
}

	.loading-spin-clockwise {
		animation: spinning-clock-wise 2s linear infinite;
	}

  	.loading-spin-anti-clockwise {
		animation: spinning-anti-clock-wise 2s linear infinite;
	}

	@keyframes spinning-clock-wise {
		0% {
			transform: rotate(0);
		}
		25% {
			transform: rotate(90deg);
		}
		50% {
			transform: rotate(180deg);
		}
		75% {
			transform: rotate(270deg);
		}
		100% {
			transform: rotate(360deg);
		}

	}

  	@keyframes spinning-anti-clock-wise {
		0% {
			transform: rotate(360deg);
		}
		25% {
			transform: rotate(270deg);
		}
		50% {
			transform: rotate(180deg);
		}
		75% {
			transform: rotate(90deg);
		}
		100% {
			transform: rotate(0deg);
		}

	}